/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0071c9;
  --ifm-color-primary-dark: #0066b5;
  --ifm-color-primary-darker: #0060ab;
  --ifm-color-primary-darkest: #004f8d;
  --ifm-color-primary-light: #007cdd;
  --ifm-color-primary-lighter: #0082e7;
  --ifm-color-primary-lightest: #0692ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00b1f7;
  --ifm-color-primary-dark: #009fde;
  --ifm-color-primary-darker: #0096d2;
  --ifm-color-primary-darkest: #007cad;
  --ifm-color-primary-light: #11bbff;
  --ifm-color-primary-lighter: #1dbfff;
  --ifm-color-primary-lightest: #42c9ff;
}

.emoji {
  font-size: 50px;
}